# dialog number ; dialog content
1;Bonjour et bienvenue ! 
2;Vous êtes la pour capturer des waifus ?
3;Bien, allez voir mon ami à côté il vous en dira plus.
4;Bonjour, c'est machin qui vous envoie ?
5;Je vois... Voici votre première waifu
6;Allez ! Allez conquerir le monde !