# dialog number ; dialog content
1;Bonjour et bienvenue ! 
2;Vous etes la pour capture des waifus ?
3;Bien, allez voir mon ami a coté il vous en dira plus.
4;Bonjour, c'est machin qui vous envoie ?
5;Je vois... Voici votre premiere waifu
6;Allez ! Allez conquerir le monde !