
/*	x, y, type, walkable */

{0, 0, DIRT, ALL}, {1, 0, DIRT, ALL}, {2, 0, DIRT, ALL}, {3, 0, DIRT, ALL}, {4, 0, DIRT, ALL},  
{0, 1, DIRT, ALL}, {1, 1, STONE, ALL}, {2, 1, STONE, ALL}, {3, 1, STONE, ALL}, {4, 1, DIRT, ALL},  {5, 1, DIRT, ALL}, {3, 1, BUSH, ALL},
{0, 2, DIRT, ALL}, {1, 2, STONE, ALL}, {2, 2, STONE, ALL}, {3, 2, STONE, ALL}, {4, 2, DIRT, ALL},  {5, 2, DIRT, ALL}, 
{0, 3, DIRT, ALL}, {1, 3, STONE, ALL}, {2, 3, STONE, ALL}, {3, 3, STONE, ALL}, {4, 3, DIRT, ALL},  {5, 3, DIRT, ALL}, 
{0, 4, DIRT, ALL}, {1, 4, STONE, ALL}, {2, 4, STONE, ALL}, {3, 4, STONE, ALL}, {4, 4, DIRT, ALL},  {3, 4, BUSH, ALL},
{0, 5, DIRT, ALL}, {1, 5, DIRT, ALL}, {2, 5, STONE, ALL}, {3, 5, DIRT, ALL}, {4, 5, DIRT, ALL}, 
{0, 6, DIRT, ALL}, {1, 6, DIRT, ALL}, {2, 6, STONE, ALL}, {3, 6, DIRT, ALL}, {4, 6, DIRT, ALL}, 
{0, 7, DIRT, ALL}, {1, 7, DIRT, ALL}, {2, 7, STONE, ALL}, {3, 7, DIRT, ALL}, {4, 7, DIRT, ALL}, 
{0, 8, DIRT, ALL}, {1, 8, DIRT, ALL}, {2, 8, STONE, ALL}, {3, 8, DIRT, ALL}, {4, 8, DIRT, ALL}, 
{0, 9, DIRT, ALL}, {1, 9, DIRT, ALL}, {2, 9, STONE, ALL}, {3, 9, DIRT, ALL}, {4, 9, DIRT, ALL}, 
{0,10, DIRT, ALL}, {1,10, DIRT, ALL}, {2,10, STONE, ALL}, {3,10, STONE, NONE}, {4,10, DIRT, ALL}, 
{0,11, DIRT, ALL}, {1,11, DIRT, ALL}, {2,11, STONE, ALL}, {3,11, STONE, NONE}, {4,11, DIRT, ALL}, 
{0,12, DIRT, ALL}, {1,12, DIRT, ALL}, {2,12, STONE, ALL}, {3,12, STONE, NONE}, {4,12, DIRT, ALL}, 
{0,13, DIRT, ALL}, {1,13, DIRT, ALL}, {2,13, STONE, ALL}, {3,13, STONE, NONE}, {4,13, DIRT, ALL}, 
{0,14, STONE, ALL}, {1,14, DIRT, ALL}, {2,14, STONE, ALL}, {3,14, STONE, NONE}, {4,14, DIRT, ALL}, 
{0,15, STONE, ALL}, {1,15, DIRT, ALL}, {2,15, STONE, ALL}, {3,15, STONE, NONE}, {4,15, DIRT, ALL}, 
{0,16, STONE, ALL}, {1,16, DIRT, ALL}, {2,16, STONE, ALL}, {3,16, STONE, NONE}, {4,16, DIRT, ALL}, 
{0,17, STONE, ALL}, {1,17, DIRT, ALL}, {2,17, STONE, ALL}, {3,17, DIRT, ALL}, {4,17, DIRT, ALL}, 
{0,18, DIRT, ALL}, {1,18, DIRT, ALL}, {2,18, STONE, ALL}, {3,18, DIRT, ALL}, {4,18, DIRT, ALL}, 
{0,19, DIRT, ALL}, {1,19, DIRT, ALL}, {2,19, STONE, ALL}, {3,19, DIRT, ALL}, {4,19, DIRT, ALL}, 
{0,20, DIRT, ALL}, {1,20, DIRT, ALL}, {2,20, STONE, ALL}, {3,20, DIRT, ALL}, {4,20, DIRT, ALL}, 
{0,21, STONE, ALL}, {1,21, DIRT, ALL}, {2,21, STONE, ALL}, {3,21, DIRT, ALL}, {4,21, DIRT, ALL}, 
{0,22, STONE, ALL}, {1,22, DIRT, ALL}, {2,22, STONE, ALL}, {3,22, DIRT, ALL}, {4,22, DIRT, ALL}, 
{0,23, DIRT, ALL}, {1,23, DIRT, ALL}, {2,23, DIRT, ALL}, {3,23, DIRT, ALL}, {4,23, DIRT, ALL}, 
{0,24, DIRT, ALL}, {1,24, DIRT, ALL}, {2,24, DIRT, ALL}, {3,24, DIRT, ALL}, {4,24, DIRT, ALL}, 
